{
    email {$TLS_EMAIL}
}

{$APP_DOMAIN} {
    encode zstd gzip

    request_body {
        max_size 12MB
    }

    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
        Referrer-Policy "same-origin"
        -Server
    }

    reverse_proxy web:3000
}
